.agahi {
  background-color: rgb(252, 55, 70);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s;
  width: 100%;
}
.agahi_main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
  font-size: 1.5vw;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.agahi_main button {
  color: #ffffff;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
