.tempfour {
  color: aliceblue;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  /* overflow: hidden; */
  width: 100vw;
}
.tpfour_box {
  background: url("../../assets/Images/baby.jpg") no-repeat center center;
  background-size: cover;
  height: 80vh;
  background-attachment: fixed;

  padding: 4em;
  width: 80vw;
  transform: translateY(50px);
  position: relative;
  box-shadow: 10px;
}
.tpfour_slide {
  background: #000a;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  /* height: 100%; */
}
.tpfour_content {
}
.tpfour_slide h3 {
  color: var(--ghermerz);
  font-family: "Kaushan Script", cursive;
}
.tpfour_slide h1 {
  text-transform: uppercase;
}
