.tempfour {
  color: aliceblue;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  overflow: hidden;
  width: 100vw;
}
.tpfour_box {
  background: url("../../assets/Images/baby.jpg") no-repeat center center;
  background-size: cover;
  height: 80vh;
  background-attachment: fixed;

  width: 80vw;
  position: relative;
}
.tpfour_slide {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  padding: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  height:78%;
}
.tpfour_slide h3 {
  color: var(--ghermerz);
  font-family: "Kaushan Script", cursive;
}
.tpfour_slide h1{
  text-transform: uppercase;
}