i {
  /* padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px; */
  /* border: 1px solid yellow; */
  position: relative;
}
.ponitor {
  position: absolute;
  top: -0.2em;
  left: 0.5em;
  color: #fff;
  font-size: 15px;
  background-color: red;
  height: 15px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.sliding-section {
  position: fixed;
  top: 0;
  right: -35%; /* ابتدا خارج از صفحه */
  width: 35%;
  height: 100%;
  background-color: #2a2a2a;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.5s ease;
  padding: 20px;
  box-sizing: border-box;
}
.basket-main p {
  color: rgb(255, 255, 255);
  font-size: 16px;
}
.basket-one img {
  width: 64px;
  height: 64px;
}

.sliding-section.open {
  right: 0; /* وقتی باز می‌شود به سمت چپ می‌آید */
}
.basket {
  display: flex;
  flex-direction: column;
  color: #fafaaf;
  font-size: 0.3em;
  /* border: 1px solid green; */
}
.basket-one {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* border: 1px solid red; */
  margin-bottom: 20px;
}
.basket-one-pro {
  /* background-color: #fff; */
  /* border: 1px solid white; */
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.basket-one-pro *{
  margin-left:5px;
}
.totalp {
  font-size: 3vw;
}
.btn-basket {
  margin-top: 10px;
  padding: 8px;
  /* background-color: #fff; */
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .sliding-section {
    right: -75%; /* ابتدا خارج از صفحه */
    width: 75%;
  }
  .totalp {
    font-size: 7vw;
  }
}
