.tempthree {
  /* background: inherit; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  align-items: center;
  height: 100vh;
  font-weight: 100;
}
.tempthree h3 {
  font-family: var(--kaj);
  /* color: var(--ghermez); */
  font-size: 2vw;
  color: #ff4955;
  margin-bottom: 20px;
}
.tempthree h4 {
  color: #ffffff;
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 5vw;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.tempthree_boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background: yellow; */
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
.tempthree_boxes section {
  display: flex;
  width: 20vw;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

  background-color: #000;
}
.tempthree h4 {
  margin-bottom: 30px;
}
.dr {
  font-size: 30vw;
}
.kol {
  text-decoration: none;
}

.tempthree_boxes section img {
  width: 90%;
  border-radius: 10px;
}
.tempthree_boxes h3 {
  font-family: "League Gothic", sans-serif;
  color: #ffffff;
}
.tempthree_boxes p {
  font-family: "League Gothic", sans-serif;
  color: #ffffff;
  font-size: 2vw;
  font-weight: 100;
}
.stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ff4955;
}
.tempthree_boxes section h3 {
  font-size: 2vw;
  font-weight: 100;
}

@media (max-width: 760px) {
  .tempthree h3 {
    font-size: 5vw;
  }
  .tempthree_boxes section h3 {
    font-size: 4vw;
  }
  .tempthree h4 {
    font-size: 5vw;
    margin-bottom: 30px;
  }
  .tempthree_boxes section {
    width: 50vw;
  }
}
