.tempone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: url("../../assets/Images/bg-006.jpg") no-repeat center center;
}
.tempone_first {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 100px;
}
.tempone_first h3 {
  font-family: "Kaushan Script", cursive;
  color: var(--ghermerz);
}
.tempone_first h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "League Gothic", sans-serif;
  font-size: 4em;
  font-style: normal;
}
.tempone_first p {
  color: #ffffff;
}

.tempone_second {
  /* z-index: 10; */
  height: 100vh;
  width: 100%;
  color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tempone_second img {
  height: 80%;
}
