.momo {
  background: #000;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tempone {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 90vw;
  background: url("../../assets/Images/bg-006.jpg") no-repeat center center;
  /* background-size: 100% 100; */
}
.tempone_first {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 100px;
}
.tempone_first h3 {
  font-family: "Kaushan Script", cursive;
  color: var(--ghermerz);
}
.tempone_first h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "League Gothic", sans-serif;
  font-size: 4vw;
  font-style: normal;
}
.tempone_first p {
  color: #ffffff;
  font-size: 1.5vw;
}

.tempone_second {
  /* z-index: 10; */
  height: 100vh;
  width: 100%;
  color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tempone_second img {
  height: 40vw;
}
.temponenull {
  display: none;
}
@media (max-width: 740px) {
  .temponenull {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 90vw;
    background: url("../../assets/Images/bg-006.jpg") no-repeat center center;
  }
  .tempone {
    display: none;
  }
}
