/* @import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=League+Gothic:wdth@75..100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=League+Gothic&family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Manrope:wght@200..800&display=swap");
:root {
  --ghermerz: #fc3746;
  --sooarti: rgb(255, 73, 85);
  /* rgb(252, 55, 70) soorati  rgb(255, 73, 85) */
  --kaj: "Kaushan Script";
}
.btn {
  background-color: var(--ghermerz);
  border-radius: 5px;
  padding: 0.5vw 1.5vw;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 200; */
  font-style: normal;
  margin-top: 2em;
  font-size: 1.7vw;
}
.p_p {
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.p_p::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -8px;
  left: 0;
  background-color: #fff;
  transition: width 0.4s ease;
}
.p_p:hover::after {
  width: 100%;
}

.container {
  max-width: 1400px;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  /* height: 100vh; */
  background: #000;
  overflow: hidden;
}
@media screen and (max-width: 760px) {
  .btn {
    background-color: var(--ghermerz);
    border-radius: 5px;
    padding: 1.5vw 4.5vw;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 200; */
    font-style: normal;
    margin-top: 2em;
    font-size: 3.7vw;
  }
}
